
:root {
  --green-200: hsl(148, 38%, 91%);
  --green-600: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);
  --gray-500: hsl(186, 15%, 59%);
  --gray-900:  hsl(187, 24%, 22%)
  
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  background-color: var(--green-200);
  color: #000;
  font-size: 16px;
}


.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}


.main-card {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  max-width: 700px;
  width: 100%;
}

.main-card h1 {
  margin-bottom: 1.5rem;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: 400;
  margin-bottom: 0.4rem;
}

input[type="text"],
input[type="email"],
textarea, .query-label {
  width: 100%;
  padding: 0.6rem;
  border-radius: 6px;
  border: 1px solid var(--gray-500);
  font-size: 1rem;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--green-200);

}


.query-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  
}
.query-label:has(input:checked) {
  background-color: var(--green-200);
  border-color: var(--green-600);
}


.error {
  display: none;
  color: var(--red);
  font-size: 0.85rem;
  margin-top: 0.3rem;
}


.form-group.has-error .error {
  display: block;
}

.form-group.has-error input,
.form-group.has-error textarea {
  border-color: var(--red);
}


.submit-btn {
  width: 100%;
  padding: 0.8rem;
  background-color: var(--green-600);
  color: var(--white);
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.submit-btn:hover {
  opacity: 0.9;
}


.success-message {
  background-color: var(--green-600);
  color: var(--white);
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  text-align: center;
}

.success-title {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

@media (max-width: 600px) {
  .section {
    grid-template-columns: 1fr;
  }

  .query-options {
    grid-template-columns: 1fr;
  }
}